html{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

/*background color of the entire page*/
body{
  margin: 30px 50px;
  background: #EFB7BA;
  
}

/*.to create a style of the header*/
h1{
  text-align: center;
  color: rgb(173, 77, 77);
  /*background-color: rgb(196, 33, 33);*/
}
/* main body style*/
section {
  text-align: center;
  color:  #231f20;
  background-color: #EFB7BA;
}
/* to make a horizontal unnumbered list for the links*/
ul {
 list-style-type: none;
 text-decoration: white;
 display: inline;
 text-align: center;

}
li {
  display: inline;
  padding: 5px;
}
 /*for text wrap to the right and left of the images*/
 .TextWrap{
     float: left;
     margin:40px;
 }

 .TextWrap{
     float: right;
     margin: 40px;

}
/*two dream images placed side by side*/
.flex-container {
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
  .flex-container {
    flex-direction: row;
    padding:    10px;
    justify-content: space-between;
 }

.TextWrap {
  float: left;
  margin:40px;
}
 
  /* footer information and style*/    
          
    .footer-text p {
      display: flex;
      text-align: right;
      font-size: 20px;
    }

  


  



