html{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

/*background color of the entire page*/
body{
  margin: 30px 50px;

  background: #EFB7BA;
  
}



 /*.header {
    text-align: center;
    font-size: 50px;
    color: purple;
  }*/
/*.to create a style of the header*/
h1{
  text-align: center;
  color: #006400;
}

section {
  text-align: center;
  color: #006400;
}

/* coding button*/
  .btn {
    background: #801515;
    /* color: var(--light); */
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    box-shadow: 0px 1px 5px black;
    color: #FAFAFB;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown Content(Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,.2);
  z-index: 1;

}/* Links inside the dropdown */
.dropdown-content a {
  color: #8AA29E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

  /*for images to wrap on the right and left of the paragraphs*/
 
  .textwrap-right {
         float:right;
         margin: 10px;
  }
  .textwrap-left {
    float:left;
    margin: 10px;
}
 
   
   /* footer information and style*/    
    footer {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
      font-size: 1em;
      text-align: center;
      margin: 0;
      padding: 20px;
      background-color: #bc4b51;
    }
      
    
  footer a {
    color: white;
    font-family: cursive;
    font-size: 1em;
    font-weight: 400;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }



