html{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;  
}

body{
  margin: 30px 50px;
  color: #F7F9FC;
}
img{
      max-width: 100%;
    }

main {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px;
  }

/* ##### Body Formatting#### */

.full-body {
    background-color: #9BDEAC;
}

.top-image {
padding-top: 30px;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.course-header {
    text-align: center;
    font-size: 60px;
}



.course {

}

/* ##### Drop Down #### */

.accordion {
    background-color:#637E71;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color:#86A88D
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #D3D3D3;
    overflow: hidden;
  }

/* ### Course Text Styling ###*/

  .course-ava {
    border-radius: 50%;
  }
  
  .course-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .information {
    display: flex;
    justify-content: space-between;
  }
  
  .instruct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    display: flex;
  }
  
  .length {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    display: flex;
  }
  
  .time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    display: flex;
  }
  

/* ##### Footer #### */

.end {
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.socials {
padding: 20px;
display: flex;

}

.footer-text p {
  display: flex;
  text-align: right;
  font-size: 20px;
}