html{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;  
}

body{
  margin: 30px 50px;
  color: #F7F9FC;
}
img{
      max-width: 100%;
    }

main {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px;
  }

/* ##### Body Formatting for Courses#### */

.course-body {
    background-color: #fafafb;
}

.top-image {
padding-top: 30px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.course-header {
    text-align: center;
    font-size: 60px;
}

.intro-text {
font-family: 'Montserrat', sans-serif;
font-size: 20px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
color: #194F92;
}



/* ##### Drop Down #### */

.accordion {
    background-color:#637E71;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 1px 5px black
  }
  
  .active, .accordion:hover {
    background-color:#86A88D
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #D3D3D3;
    overflow: hidden;
    box-shadow: 0px 1px 5px black
  }

  .course {
    font-family: 'Bebas Neue', cursive;
  }
/* ### Course Text Styling ###*/

.course-ava {
    /* border-radius: 50%; */
    float: left;
    padding-top: 20px;
    margin-right: 20px;
    max-width: 10%;
    height:auto;
  }
  
  .course-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 15px;
    color: #194F92;
  }
  .information {
    display: flex;
    justify-content: space-between;
  }
  
  .instruct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    display: flex;
  }
  
  .length {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    display: flex;
  }
  
  .time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    display: flex;
  }
  

/* ##### Footer #### */

.end {
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.socials {
padding: 20px;
display: flex;

}

.footer-text p {
  display: flex;
  text-align: right;
  font-size: 20px;
}