html{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
  }

/*background color of the entire page*/
body{
  margin: 30px 50px;
       
  background-color: #efb7ba;  
}

/*.to create a style of the header*/
h1{
    text-align: center;
    color: #006400;
  }
  
  section {
    text-align: center;
    color: #006400;
  }
 /*/* Create two equal columns that floats next to each other */
 .column {
   float: left;
   width: 50%;
   padding: 10px;
 }
 
 .column img {
   margin-top: 12px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
  .grid-container{
    
   box-sizing: border-box;
 }

 .header {
   text-align: center;
   padding: 32px;
 }

/* using flex to display images in a row with some space in between*/
.img {
  display: flex;
  flex-wrap: wrap;
  flex:  start;
}
/* allowing the images to grow and shrink*/
.img>* {
  flex:1 1 10px
}


/* to style the fundraising items, description and price*/
 .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 160px 160px 160px; 
    gap: .5px;
    margin: 5px;
    color:  green;
    font-family: cursive;
    font-size: 1em;
    font-weight: 400;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    
  }

  .grid-container div {
    display: flex;
    flex-flow: wrap;
    padding: 30px;
    border: 1px solid purple;
  }

 /* footer information and style*/
 .footer-text p {
  display: flex;
  text-align: right;
  font-size: 20px;
}
.footer {
  color: white;
}






















 