html{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
  }

/*background color of the entire page*/
body{
  margin: 30px 50px;
       
  background-color: #efb7ba;  
}

/*.to create a style of the header*/
h1{
    text-align: center;
    color: rgb(175, 78, 78);
  }
  
  section {
    text-align: center;
    color: dark #000;
    font-weight: 200;
  }
 /*/* Create two equal columns of images that floats next to each other */
 .column {
   float: left;
   width: 50%;
   padding: 10px;
 }
 
 .column img {
   margin-top: 12px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
  .grid-container{
    
   box-sizing: border-box;
 }

 .header {
   text-align: center;
   padding: 32px;
 }

/* using flex to display images in a row with some space in between*/
.img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*flex:  start;*/
}
/* allowing the images to grow and shrink*/
.img>* {
  flex:1 1 10px
}
/* left grid on promo page introducing band members*/
 .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 100px 100px 100px;
    gap: .5px;
    margin: 5px;
    color:  #231f20;
    font-family: cursive;
    font-size: 1em;
    font-weight: 200;
    text-shadow:
    -1px -1px 0 #231f20
    -1px -1px 0 #231f20,
    -1px 1px 0 #231f20;    
  }

  .grid-container div {
    display: flex;
    /*flex-flow: wrap;*/
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    border: 1px solid purple;
  }
  
 /* footer information and style*/
 .end {
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

.socials {
padding: 20px;
display: flex;

}
.footer-text p {
display: flex;
text-align: right;
font-size: 20px;
}





















 