html{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    
    
  }
  
body{
    margin: 30px 50px;
    color: #F7F9FC;
    
  }

img{
        max-width: 100%;
      }

main {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;





        /* ##### Footer #### */

.end {
    /* background-color:#9A9C8B; */
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    

}

.socials {
padding: 20px;
display: flex;

}

.blah {
  display: flex;
  align-content: center;
}

.footer-text {
  /* margin-bottom: 0; */
  display: flex;
  text-align: right;
  
}