html{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    
    
}

body{
    margin: 30px 50px;
    background: pink;
    
}
img{
    max-width: 100%;
}
.btn {
  background: #EF8354;
  /* color: var(--light); */
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  box-shadow: 0px 1px 5px black;
}
nav{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 43.5px;
    padding-bottom: 20px;
    
  }
  
  a{
    /* background: #EF8354; */
    text-decoration: none;
    color: #4F5D75;
    margin: 0 40px;
  }
  
  #logo{
    width: 100%;
    height: 95px;
    align-items: center;
    padding-top: 150px;
    background: url("../img/logo.png");
    /* background-image: url(../img/logo1.jpg); */
    align-content: center;
    color: white;
    /* background: rgba(0,0,0,0.3); */
  }
  .band-pic{
    
    max-width: 100%;
    height: 800px;
    /* display: grid; */
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../img/promo_2.jpg);

  }
  .band{
    padding-top: 300px;
    align-items: start;
    justify-content: center;
    box-shadow: 0px 1px 5px black;
  }
  .band h1{
    font-size: 50px;
    color: white;
    margin-left: 43%;
    margin-bottom: 0;
    
  }
  .band p{
    font-size: 30px;
    color: white;
    margin-top: 0;
    
  }
  .boxes {
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    background: #4F5D75;
      margin-top: 50px;
    /* background: burlywood; */
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0px 1px 5px black;
    /* font-size: 28px; */
    
  }
  .about_sum{
    color: #EF8354;
  }